// Microsoft Visual C++ generated resource script.
//
#include "../Headers/resources.h"
#include <winres.h>
/////////////////////////////////////////////////////////////////////////////
// Português (Brasil) resources

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
#pragma code_page(1252)

IDI_ICON                ICON                    "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041604b0"
        BEGIN
            VALUE "CompanyName", "YogiApps"
            VALUE "FileDescription", "Anceu"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "Anceu.exe"
            VALUE "LegalCopyright", "Copyright (C) 2023"
            VALUE "OriginalFilename", "Anceu.exe"
            VALUE "ProductName", "Anceu"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x416, 1200
    END
END